body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

.social:hover {
    border-bottom: 3px solid black;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.social_block{
    position: fixed;
    right: 0px;
    top: 260px;
    background-color: #CBC3E3;
    height: 150px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10% 0 0 10%;
    border: 3px dotted purple;
}
.social_block p{
    width: 100px;
}

.post::before{
    content: url("https://i.ibb.co/TvnjbPP/Jw9eb49.png");
    position: absolute;
    top: -100px;
    left: -50px;
    width: 170px; 
    height: 100px;
    transform: rotate(-15deg);
    border: medium dotted transparent;
}

.post::after{
    content: url("https://i.ibb.co/V317mmg/eterte1.png");
    position: absolute;
    top: 350px;
    left: 350px;
    width: 150px; 
    height: 150px;
    transform: rotate(-15deg);
    border: medium dotted transparent;
}


h1::before{
    content: url(https://i.ibb.co/LrJjMCZ/aerfeswt.png);
}
h1::after{
    content: url(https://i.ibb.co/LrJjMCZ/aerfeswt.png);
}

.address::before{
    content: url(https://i.ibb.co/RgkXnJk/Jw9Sh6N.png);
}
.tel::before{
    content: url(https://i.ibb.co/sgbdYDB/p2.png);
}
h2:hover{
color:pink;
}
.nav-link:hover{
color: pink;
transition: color .2s;
}
a:hover{
    color: blueviolet;
}
.article-but:hover{
    background-color: plum;
}
